.features {
  padding: 4rem 2rem 6rem;
  background-color: var(--color-bg-primary);
}

.features__container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media (max-width: 900px) {
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .features {
    padding: 3rem 1.5rem 4rem;
  }

  .features__grid {
    grid-template-columns: 1fr;
    max-width: 350px;
    margin: 0 auto;
    gap: 2rem;
  }
}
